body {
    font-family: Arial;
    margin: 0;
    background: #eaeaea;
}

section, header, footer {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

header {
    background: #1e1e2f;
    color: white;
    padding: 20px;
    text-align: center;
}

.about {
    text-align: center;
}

.about img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px 0;
    border: 3px solid #1e1e2f;
}

.about p {
    line-height: 1.6;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px 0;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 80%;
    max-width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: auto;
}

footer {
    background: #1e1e2f;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
