body {
    font-family: Arial;
    margin: 0;
    background: #eaeaea;
}

section, header, footer {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

header {
    background: #1e1e2f;
    color: white;
    padding: 20px;
    text-align: center;
}

.about {
    text-align: center;
}

.about img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px 0;
    border: 3px solid #1e1e2f;
}

.about p {
    line-height: 1.6;
    margin: 10px 0;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

.hobbies, .skills {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px 0;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: #1e1e2f;
    color: white;
    border: none;
    border-radius: 5px;
}

footer {
    background: #1e1e2f;
    color: white;
    padding: 10px;
    text-align: center;
}

@media (min-width: 768px) {
    .hobbies, .skills {
        grid-template-columns: repeat(3, 1fr);
    }

    .about img {
        width: 250px;
        height: 250px;
    }
}
